---
title: About Me
noSideBar: true

---

<div class="text-center mb-16">

    <img class="my-4 mx-auto rounded-full w-1/2 md:w-1/3" src="/img/profile-pic.jpg">

    <p class="text-2xl">
        Ricky Yip
    </p>
    
    <p class="text-xl">
        Sydney, Australia
    </p>
    
    <p class="text-center mb-0">
        Data Science / Applied Medical Science
    </p>
    
    <p class="text-center mt-0">
        Full-Stack Web Developer
    </p>
    
    
    <div class="my-8 flex justify-center items-center flex-wrap py-4 text-5xl gap-8">
        <div class="">
            <i class="fab fa-node-js"></i>
        </div>
        <div class="">
            <i class="fab fa-html5"></i>
        </div>
        <div class="">
            <i class="fab fa-css3"></i>
        </div>
        <div class="">
            <i class="fab fa-java"></i>
        </div>
        <div class="">
            <i class="fab fa-python"></i>
        </div>
        <div class="">
            <img class="h-10 filter brightness-0 invert" src="./img/c-lang.png">
        </div>
        <div class="">
            <img class="h-10 filter brightness-0 invert" src="./img/r-lang.png">
        </div>
        <div class="">
            <i class="fab fa-docker"></i>
        </div>
    </div>


    <span class="flex justify-center my-8">
        <a class="text-blue-300 hover:text-blue-200" href="/projects/logbook">Learn more about this logbook</a>
    </span>

    <div class="flex justify-center my-8">
        <button @click="modal = 'kofi'">
            <div class="py-2 px-4 rounded-xl bg-purple-600 flex items-center">
                <img class="h-4 mr-4" src="/img/Kofi_pixel_logo.png">
                Buy Me a Coffee
            </div>
        </button>
    </div>


</div>

