{{ define "main" }}
<main class="h-full">
    <div class="h-full container">
        <div class="h-full flex flex-col">

            <h1 class="articleTitle text-3xl mb-4">{{ .Title }}</h1>

            <div class="mt-4">
                {{ partial "breadcrumb.html" . }}
            </div>

            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 my-4">

                {{ $pageCount := 0 }}
                {{ $paginator := .Paginate (where .Pages ".Params.private" "!=" true ) }}

                {{- range $paginator.Pages -}}
                    
                    <!-- Project card -->
                    <div class="p-2">

                        <!-- Project card thumbnail -->
                        {{ if .Params.thumbnail }}
                            {{ $url := .Params.thumbnail }}
                            {{ if eq "." (substr $url 0 1) }}
                                {{ $url = add .Permalink (substr $url 1) }}
                            {{ end }}

                            <div class="flex justify-center items-center">
                                <a class="w-4/5" href="{{.Permalink}}">
                                    <img class="mx-auto w-3/5 md:w-4/5" src="{{$url}}" class="card-img-top" alt="{{.Title}}">
                                </a>
                            </div>
                        {{end}}

                        <!-- Project card body -->
                        <div class="card-body text-center md:text-left">
                            <!-- Project title -->
                            <a href="{{.Permalink}}"><p class="text-lg">{{.Title}}</p></a>

                            <!-- Project status -->
                            {{- if .Param "status" -}}
                            <div class="my-2 flex flex-wrap items-center justify-center md:justify-start">
                                {{ with .Param "status" }}
                                <span class="py-1 px-2 rounded-full bg-opacity-80 text-sm text-gray-50 {{if eq . "active"}}bg-green-600{{else if eq . "paused"}}bg-yellow-700{{else if eq . "archived"}}bg-gray-600{{else}}bg-blue-500{{end}}">{{ humanize .}}</span>
                                {{ end }}
                            </div>
                            {{- end -}}

                            <p class="card-text text-sm text-gray-100">{{ if .Description }}{{.Description}}{{else}}{{ .Summary | truncate 200 }}{{end}}</p>
                        </div>
                    </div>

                    {{ $pageCount = add $pageCount 1 }}

                {{- end -}}

            </div>

            {{ if eq $pageCount 0 }}
            <div class="col text-center my-5">
                <h1 class="text-4xl"><i class="fas fa-glasses"></i></h1>
                <h2 class="my-4">Still working on it... Please come back later :)</h2>
                <a class="btn btn-primary mt-5" href="{{.Parent.Permalink}}">Go back</a>
            </div>
            
            {{ else }}
                {{ partial "pagination.html" . }}
            {{ end }}

        </div>
    </div>
</main>

{{ end }}