{{ $size := math.Max 1 (sub 4 .Level) }}
{{ $smSize := sub $size 1}}
{{ $smStr := $smSize }}
{{ $lgStr := $size }}

{{ if le $size 1 }}
    {{ $lgStr = "" }}
{{ end }}
{{ if le $smSize 1 }}
    {{ $smStr = "" }}
{{ end }}

{{ $id := .Anchor | safeURL }}

<h{{ .Level }} id="{{$id}}" class="mt-{{ add $size 8 }} mb-{{ add $size 1 }}"><a href="#{{ .Anchor | safeURL }}">{{if gt .Level 2}}<i class="fas fa-feather-alt mr-4"></i> {{end}}{{ .Text | safeHTML }}</a></h{{ .Level }}>
