{{ define "main" }}
<main>
    <div class="container mx-auto flex flex-col w-full">
        <h1 class="articleTitle text-3xl mb-4">{{ .Title }}</h1>
        <div class="articleMeta flex items-center">
            {{ if .Date }}<time class="block text-muted">{{ .Date.Format "02 Jan 2006" }}</time>{{ end }}
            {{ if .Params.private }}<span class="badge bg-secondary m-2">Private</span>{{ end }}
        </div>

        {{ if or .Params.tags (.Param "status") }}
        <div class="tags flex items-center my-2">
            {{ with .Param "status" }}
            <a class="py-1 px-2 rounded-full bg-blue-500 bg-opacity-80 mr-2 text-sm text-gray-50" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ humanize .}}</a>
            {{ end }}
            {{ with .Params.tags }}
                {{ range . }}
                <a class="py-1 px-2 rounded-full bg-blue-500 bg-opacity-80 mr-2 text-sm text-gray-50" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ humanize .}}</a>
                {{ end }}
            {{ end }}
        </div>
        {{ end }}

        <span class="hr"></span>

        {{ partial "breadcrumb.html" . }}

        <article class="w-full mt-4">
        
            {{- if .Description -}}
            <div class="pt-2">
                <blockquote class="text-gray-300 my-2">
                    <span class="text-2xl font-extrabold mr-4"><i class="fas fa-quote-left"></i></span>{{ .Description }}
                </blockquote>
            </div>
            {{- end -}}

            {{- if gt (len .Pages) 0 -}}
            <div class="w-full grid grid-cols-12">
                <div class="col-span-2 lg:col-span-1 px-4">#</div>
                <div class="col-span-10 lg:col-span-3">Chapter</div>
                <div class="hidden lg:block col-span-8">Info</div>
                <div class="col-span-12 border-b-2 border-gray-600 my-1"></div>
                {{ $i := 1 }}
                {{ range .Pages }}{{ if not .Params.private }}
                    <div class="col-span-2 lg:col-span-1 px-4">{{ $i }}</div>
                    <div class="col-span-10 lg:col-span-3 pr-4"><a id="chapter-url-{{$i}}" class="text-blue-300" href="{{.Permalink}}">{{ .Title }}</a></div>
                    <div class="col-span-10 col-start-3 mb-4 lg:col-span-8 lg:col-start-auto">{{ if .Description }}{{.Description}}{{ end }}</div>
                {{ $i = add $i 1 }}
                {{ end }}{{ end }}
            </div>
            <div class="w-full table hidden">
                <div class="table-row-group">
                    <div class="table-cell border-b-2 border-gray-600 px-4">#</div>
                    <div class="table-cell border-b-2 border-gray-600 pr-4">Chapter</div>
                    <div class="table-cell border-b-2 border-gray-600">Info</div>
                </div>
                {{ $i := 1 }}
                {{ range .Pages }}{{ if not .Params.private }}
                <div class="table-row-group">
                    <div class="table-cell px-4">{{ $i }}</div>
                    <div class="table-cell pr-4"><a id="chapter-url-{{$i}}" class="text-blue-300" href="{{.Permalink}}">{{ .Title }}</a></div>
                    <div class="table-cell">{{ if .Description }}{{.Description}}{{ end }}</div>
                </div>
                {{ $i = add $i 1 }}
                {{ end }}{{ end }}
            </div>
            {{- end -}}

            {{- if .Params.thumbnail -}}
            <div class="flex justify-center items-center my-4">
                <img class="w-64" src="{{.Params.thumbnail}}">
            </div>
            {{- end -}}
            
            <div class="articleContent flex-grow my-8">
                {{ if .Content }}
                    {{ .Content }}
                {{ else }}
                <h2 class="text-center text-4xl"><i class="fas fa-crow"></i></h2>
                {{ end }}
            </div>

        </article>

    </div>
</main>
{{ end }}
