<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-au" }}">

{{ partial "head.html" . }}

<body class="bg-gray-800 text-gray-50 overflow-x-hidden">

    <div id="pageWrapper" class="max-w-full min-h-screen-footer flex flex-col items-center" :class="modal === ''? '': 'h-0 overflow-hidden'"  >

        <div class="flex-grow w-full text-gray-50" v-cloak>

            <!-- Menu -->
            <div id="menu" class="w-full my-4">
                <div class="w-11/12 sm:w-10/12 lg:5/6 mx-auto px-4 lg:px-8 py-2 rounded-xl flex flex-col lg:flex-row justify-between items-center bg-gray-700">
                    <div class="w-full h-12 flex items-center">
                        <!-- Logo -->
                        <div class="text-xl lg:text-2xl font-bold mr-4">
                            <a class="flex flex-nowrap items-center" href="/">
                                <img class="h-12 inline mr-4" src="/img/RY_logo_500.png">
                                <span class="bg-clip-text text-transparent bg-gradient-to-r from-green-400 to-blue-500">
                                    Logbook
                                </span>
                            </a>
                        </div>

                        <!-- Menu Items -->
                        {{ $currentPage := . }}
                        {{ $i := 0}}
                        {{ range .Site.Menus.main }}
                            {{ if gt $i 0 }}
                            {{ end }}
                            <a class="text-lg font-semibold mx-4 hidden md:block" href="{{ .URL }}">
                                {{ .Pre }}
                                <span>{{ .Name }}</span>
                            </a>
                            {{ $i = add $i 1}}
                        {{ end }}

                        <!-- Search -->
                        <button class="ml-auto rounded-lg py-2 px-4 text-center" v-on:click="openSearch">
                            <i class="fas fa-search"></i>
                        </button>

                        <!-- Mobile menu button -->
                        <button class="lg:hidden ml-4 p-1 py-2 rounded-xl text-xl" v-on:click="toggleMobileMenu"><i class="fas fa-bars"></i></button>
                    </div>
                    

                    

                    <!-- Mobile menu -->
                    <div class="flex flex-col w-full lg:hidden transition-all overflow-hidden" :class="showMobileMenu? 'h-auto': 'h-0'">

                        <!-- Mobile Menu Items -->
                        {{ $currentPage := . }}
                        {{ $i := 0}}
                        {{ range .Site.Menus.main }}
                            {{ if gt $i 0 }}
                            {{ end }}
                            <a class="text-lg font-semibold text-center my-2 md:hidden" href="{{ .URL }}">
                                {{ .Pre }}
                                <span>{{ .Name }}</span>
                            </a>
                            {{ $i = add $i 1}}
                        {{ end }}
                        
                        <!-- Tag Cloud -->
                        <div id="tagCloudWrapper">
                            {{ partial "tag_cloud.html" . }}
                        </div>

                        <!-- Table of contents -->
                        {{ if .Params.toc }}
                        <div id="tocWrapper" class="h-full overflow-y-auto py-4 break-words text-gray-200 border-t-2 border-gray-600">
                                {{ .TableOfContents }}
                        </div>
                        {{ end }}
                    </div>

                </div>
            </div>

            <!-- Main content -->
            <div id="mainContainer" class="container max-w-screen-xl mx-auto flex justify-center z-10">
    
                {{ if not .Params.noSideBar }}
                <div id="sidebar" class="max-h-90vh min-w-2xs max-w-xs p-4 self-start sticky top-4 hidden lg:block overflow-auto z-0">

                    <!-- Tag Cloud -->
                    <div id="tagCloudWrapper">
                        {{ partial "tag_cloud.html" . }}
                    </div>

                    <!-- Table of contents -->
                    {{ if .Params.toc }}
                    <div id="tocWrapper" class="h-full overflow-y-auto py-4 break-words text-gray-200 border-t-2 border-gray-600">
                            {{ .TableOfContents }}
                    </div>
                    {{ end }}
        
                </div>
                {{ end }}

                <!-- Main -->
                <div class="w-full p-4 md:p-8 z-10 {{ if or (not (isset .Params "fullwidth")) (not .Params.fullWidth) }}md:max-w-screen-md 2xl:max-w-screen-lg{{ end }}">
                    {{ block "main" . }}{{ end }}
                </div>

            </div>


            {{- if .Parent -}}
                <a id="sectionUrl" style="display: none;" href="{{.Parent.Permalink}}"></a>
            {{- end -}}

            <button id="backToTopBtn" type="button" class="fixed right-8 bottom-8 text-2xl hidden z-50" v-on:click="backToTop">
                <i class="fas fa-chevron-circle-up"></i>
            </button>



        </div>

        <!-- Modal -->

        {{ partial "modal_search.html" . }}
        {{ partial "modal_kofi.html" . }}


    </div>  <!-- End of pageWrapper -->

</body>


<!-- Footer -->
{{ partial "footer.html" . }}

</html>