{{ define "main" }}
<main>
    <div class="container">

		<div class="mt-4">
            {{ partial "breadcrumb.html" . }}
        </div>

        <h1 class="my-4 text-2xl">Tag: {{ humanize .Title }}</h1>

        {{ range .Paginator.Pages }}
			{{ if not .Params.private }}
			<div class="listItemContainer mb-8">
				<h2><a class="listItemTitleLink text-2xl" href="{{.Permalink}}">{{.Title}}</a></h2>
				{{ if .Date }}<small class="text-muted">{{.Date.Format "2006-01-02"}}</small>{{ end }}

				{{ with .Params.tags }}
                <div class="tags d-flex align-items-center my-2">
                    {{ range . }}
                    <a class="py-1 px-2 bg-blue-500 mr-2 rounded-full text-gray-50 text-sm" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ humanize .}}</a>
                    {{ end }}
                </div>
                {{ end }}

				<div class="listItemSummary pl-2 pb-2 my-8 text-transparent bg-clip-text bg-gradient-to-b from-gray-50 via-gray-300 to-gray-800">
                    {{ if not (eq .Type "tools") }}
                    {{ .Content | replaceRE `<img\s[^\<]+\/?>` "" | replaceRE `href="#` (printf `href="%s#` .RelPermalink) | safeHTML | truncate 250 }}
                    {{ else }}
                    {{ cond (isset .Params "description") .Description .Summary }}
                    {{ end }}
                </div>

                <div class="text-center">
                    <a class="text-xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-blue-600 hover:text-transparent hover:from-yellow-400 hover:to-yellow-600 transition-all" href="{{.Permalink}}">Read More</a>
                </div>

				<div class="my-4 border-t-2 border-gray-600"></div>
			</div>
			{{ end }}
		{{ end }}

		{{ partial "pagination.html" . }}

    </div>
</main>
{{ end }}