@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    @variants responsive {
        .sidebar-width {
            min-width: 20rem;
            max-width: 20rem;
        }
    }
}

[v-cloak] {
    display: none;
}

body {
    font-family: "Noto Sans";
}

h1 {
    @apply text-2xl;
}
h2 {
    @apply text-xl;
}

h1,h2 {
    font-family: "Quicksand";
}

h3,h4,h5,h6 {
    @apply text-lg;
    font-family: "Mate";
}

h1 em, h2 em, h3 em, h4 em, h5 em, h6 em {
    font-weight: bolder;
}

h1 > a {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-yellow-100 to-yellow-200 hover:text-yellow-200;
}
h2 > a {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-yellow-100 to-yellow-200 hover:text-yellow-200;
}
h3 > a {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-yellow-100 to-yellow-200 hover:text-yellow-200;
}


/* Layout */

.min-h-screen-footer {
    min-height: calc(100vh - 3rem);
}

.h-screen-footer {
    height: calc(100vh - 3rem);
}

/* Article */

article p {
    @apply mt-3 mb-2;
}

article em {
    font-weight: medium;
}

article p a {
    @apply text-blue-400 hover:text-blue-300;
}

article ol {
    list-style: decimal;
}

article ol > li {
    @apply mb-2;
}

article ul {
    list-style-type: '- ';
    padding-left: 1rem;
}

article ul em {
    font-weight: medium;
    color: rgba(0, 253, 240, 0.9);
}

article ul strong {
    font-weight: 600;
    color: rgba(253, 201, 29, 0.9);
}

article ul li {
    padding-bottom: 0.2rem;
}


article blockquote {
    @apply text-blue-100 my-4 px-2 py-1 rounded-xl border-l-2 border-b-2 border-yellow-300 border-opacity-50;
}

article blockquote p {
    @apply mb-2;
}

article blockquote > p::before {
    content: "> ";
    @apply text-yellow-200 text-2xl mr-2 font-extrabold;
}

article code {
    background-color: rgba(0, 173, 253, 0.1);
    border-radius: 4px;
    padding: 2px 8px;
}

article pre {
    @apply bg-gray-900 p-4 mt-4 mb-6 rounded-xl text-gray-200 whitespace-pre overflow-x-auto;
}

article pre > code {
    padding: unset;
    background-color: unset;
}


article p em {
    font-weight: medium;
    color: rgba(0, 253, 240, 0.9);
}

article p strong {
    font-weight: 600;
    color: rgba(253, 201, 29, 0.9);
}

article h3,h4,h5,h6 {
    margin-left: 12px;
}


/* List */

.listItemSummary code {
    background-color: rgba(0, 253, 240, 0.1);
    border-radius: 4px;
    padding: 2px 8px;
}

.listItemSummary pre {
    @apply bg-gray-900 p-4 mt-4 mb-6 rounded-xl text-gray-200 break-words whitespace-pre-line;
}

.listItemSummary pre > code {
    padding: unset;
    background-color: unset;
}

/* Table of Contents */

#TableOfContents {
    @apply overflow-y-auto break-words;
}

#TableOfContents li {
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}

#TableOfContents > ul {
    padding-left: 0.6rem;
}

#TableOfContents > ul > li {
    @apply text-lg;
    padding-bottom: 1rem;
}

#TableOfContents > ul > li > ul {
    padding-left: 1.2rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    list-style-type: '- ';
}

#TableOfContents > ul > li > ul > li {
    @apply text-base;
}


#TableOfContents > ul > li > ul > li > ul {
    padding-left: 1.8rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    list-style-type: '- ';
}


/* Search */

.searchItemContainer .codename {
    @apply inline-block top-0 border-gray-600;
}