<footer class="container mx-auto p-2">

    <div class="h-8 flex flex-col md:flex-row justify-between items-center md:mx-8 text-gray-400">
        <div class="d-flex align-items-center">
            <a class="text-muted d-none d-sm-flex align-items-center" target="_blank" href="{{.Site.Params.gitUrl}}/-/tree/{{.Site.Params.defaultGitBranch}}/content{{.Permalink | relURL}}">Edit on Git
                <i class="fab fa-gitlab m-1"></i>
            </a>
            <span class="p-2 text-muted">v.{{ now.Format "2006.01.02.1504" }}</span>
        </div>
        <span class="text-muted">&copy; {{ now.Format "2006" }} All rights reserved.</span>
    </div>

</footer>