<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    {{ with .Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}
    {{ if .Params.keywords }}
    <meta name="keywords" content="{{ with .Params.keywords }}{{ delimit . ", "}}{{ end }}" />
    {{ end }}

    {{ partial "favicon.html" . }}

    <title>{{ .Site.Title }}{{ if not ( eq .RelPermalink "/" ) }} :: {{ .Title }}{{ end }}</title>
    <link rel="preload" as="style" href="/vendor/fontawesome/css/fontawesome.min.css">
    <link rel="preload" as="style" href="/vendor/fontawesome/css/brands.min.css">
    <link rel="preload" as="style" href="/vendor/fontawesome/css/solid.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/brands.min.css">
    <link rel="stylesheet" href="/vendor/fontawesome/css/solid.min.css">

    {{ $fonts := resources.Get "./css/fonts.css"}}
    {{ $styles := resources.Get "./css/style.css" | resources.PostCSS (dict "inlineImports" true) }} 

    {{ if .Site.IsServer }}
    {{ $styles := $styles | fingerprint }}
    {{ $fonts := $fonts | fingerprint }}
    <link rel="preload" as="style" href="{{ $fonts.RelPermalink }}">
    <link rel="stylesheet" href="{{ $fonts.RelPermalink }}" integrity="{{ $fonts.Data.Integrity }}"/>
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}"/>
    {{ else }}
    {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
    {{ $fonts := $fonts | minify | fingerprint }}
    <link rel="preload" as="style" href="{{ $fonts.RelPermalink }}">
    <link rel="stylesheet" href="{{ $fonts.RelPermalink }}" integrity="{{ $fonts.Data.Integrity }}"/>
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}"/>
    {{ end }}


    {{ if not .Site.IsServer}}
        {{/* Production */}}
        <script src="{{ (resources.Get "/js/style.js" | minify | fingerprint).RelPermalink }}" defer="defer"></script>
        <script src="{{ (resources.Get "/vendor/vue.js" | fingerprint).RelPermalink }}"></script>
        <script src="{{ (resources.Get "/vendor/portal-vue.umd.js" | minify | fingerprint).RelPermalink }}"></script>
        <script src="{{ (resources.Get "/vendor/fuse.js" | minify | fingerprint).RelPermalink }}" defer="defer"></script>
        <script src="{{ (resources.Get "/js/app.js" | minify | fingerprint).RelPermalink }}" defer="defer"></script>
    {{ else }}
        {{/* Dev */}}
        <script src="{{ (resources.Get "/js/style.js" | fingerprint).RelPermalink }}" defer="defer"></script>
        <script src="{{ (resources.Get "/vendor/vue.js" | fingerprint).RelPermalink }}"></script>
        <script src="{{ (resources.Get "/vendor/portal-vue.umd.js" | fingerprint).RelPermalink }}"></script>
        <script src="{{ (resources.Get "/vendor/fuse.js" | fingerprint).RelPermalink }}" defer="defer"></script>
        <script src="{{ (resources.Get "/js/app.js" | fingerprint).RelPermalink }}" defer="defer"></script>
    {{ end }}


    {{- /* Vue global components */ -}}
        
    {{ $site := .Site }}
    {{ range (readDir "/assets/js/components") }}
        {{ $component := resources.Get (printf `./js/components/%s` .Name) | resources.Minify }}
        <!-- {{$component.RelPermalink}} -->
    {{ end }}


    {{- /* Vue async components */ -}}

    {{ if isset .Params "components" }}
    <script defer="defer">
    {{ $components := .Params.components }}
    {{ range $key, $el := $components }}
        const {{ safeJS $key }} = import('/js/components/{{safeJS $el}}.component.min.js');
    {{ end }}
    </script>
    {{ end }}


</head>
