<transition name="fade">
    <div id="kofiModal" v-if="modal === 'kofi'" @keyup.esc="modal = ''" class="absolute top-0 left-0 w-screen h-screen md:rounded-4xl bg-gray-900 bg-opacity-30 z-20 flex justify-center sm:items-center" v-on:click="modal = ''" v-cloak>

        <div class="sm:p-4 bg-gray-700 bg-opacity-80 rounded-xl sticky top-0" v-on:click.stop>

            <div class="flex justify-between items-center mx-2 sm:mx-0 top-0">
                <div>
                    <span class="p-2 self-center flex items-center text-green-500"><i class="fas fa-lock mr-2"></i> ko-fi.com</span>
                </div>
                <button type="button" class="text-2xl p-2" v-on:click="closeSearch"><i class="fas fa-times"></i></button>
            </div>

            <div class="w-screen sm:w-96 overflow-auto">
                <iframe id='kofiframe' src='https://ko-fi.com/rickyyip/?hidefeed=true&widget=true&embed=true&preview=true' style='border:none;width:100%;padding:4px;background:#f9f9f9;' height='520'  title='rickyyip'></iframe>
            </div>

        </div>

    </div>    
</transition>
