<transition name="fade">
    <div id="searchModal" v-if="modal === 'search'" @keyup.esc="closeSearch" class="absolute top-0 left-0 w-screen h-screen md:rounded-4xl bg-gray-900 bg-opacity-30 z-20 sm:py-10" v-on:click="closeSearch" v-cloak>

        <button type="button" class="absolute right-4 top-2 lg:right-16 lg:top-8 text-2xl p-2" v-on:click="closeSearch"><i class="fas fa-times"></i></button>
    
        <div class="w-full max-h-full overflow-y-auto overflow-x-hidden mx-auto sm:w-5/6 md:w-4/5 p-4 md:p-8 lg:p-12 sm:rounded-xl bg-gray-700" v-on:click.stop>

            <div class="input-group w-full mt-10 sm:mt-0 text-gray-700 text-xl z-50 py-4 bg-gradient-to-b from-transparent via-gray-700 to-transparent">
                <input id="searchInputBox" type="text" class="form-control w-full h-12 p-4 rounded-lg text-yellow-300 bg-gray-800 focus:ring-gray-800" :placeholder="searchReady? 'Search': 'Loading...'" v-model='searchText' @keyup.enter="openFirstSearchResult()" focus-first>
            </div>
    
            <div class="mt-4" v-if="searchDone && searchResults.length === 0">
                <div class="text-center"><h2 class="text-xl">No results</h2></div>
            </div>
    
            <div class="my-4 z-10" v-if="searchDone">
    
                <div class="searchItemContainer my-8" v-for="item in searchResults">
                    <h1 class="text-2xl font-semibold"><a class="text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-blue-500 hover:text-blue-300" :href="item.permalink">${item.title}</a></h1>
                    <a class="text-blue-400 hover:text-blue-300" :href="item.permalink">${item.permalink}</a>
        
                    <div class="tags d-flex align-items-center my-2">
                        <span v-for="tag in item.tags">
                            <a class="py-1 px-2 rounded-full bg-blue-500 mr-2" :href="'/tags/' + tag ">${tag}</a>
                        </span>
                    </div>
        
                    <p class="text-transparent bg-clip-text bg-gradient-to-b from-gray-50 via-gray-100 to-transparent" v-html="item.contents.split().splice(0, 200).join().substr(0, 1000)"></p>
    
                    <div class="text-center">
                        <a class="text-xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-blue-600 hover:text-transparent hover:from-purple-400 hover:to-purple-600 transition-all" :href="item.permalink">Read More</a>
                    </div>
                </div>
    
            </div>

        </div>
    
    </div>    
</transition>
