<div class="paginator mt-auto">
    {{ $paginator := .Paginate (where .Pages ".Params.private" "==" nil) }}
    <nav>
        <ul class="flex justify-center my-4">
            <li class="py-2 px-3 rounded-l-lg ring-1 disabled:opacity-50 disabled:cursor-not-allowed" {{ if not .Paginator.HasPrev }}disabled{{end}}>
                <a class="page-link" href="{{ if .Paginator.HasPrev }}{{ .Paginator.Prev.URL }}{{else}}#{{end}}">
                    <i class="fas fa-chevron-left"></i>
                </a>
            </li>
            {{ range $paginator.Pagers }}
            <li class="py-2 px-3 ring-1 font-semibold"><a class="page-link" href="{{ .URL }}">{{ .PageNumber }}</a></li>
            {{ end }}
            <li class="py-2 px-3 rounded-r-lg ring-1 disabled:opacity-50 disabled:cursor-not-allowed" {{ if not .Paginator.HasNext }}disabled{{end}}>
                <a class="page-link" href="{{ if .Paginator.HasNext }}{{ .Paginator.Next.URL }}{{else}}#{{end}}">
                    <i class="fas fa-chevron-right"></i>
                </a>
            </li>
        </ul>
    </nav>
</div>
