{{ if ne (len .Site.Taxonomies.tags) 0 }}

<div class="flex flex-wrap justify-center my-2">

    {{ $pageCount := 0 }}
    {{ range $.Site.Taxonomies.tags }}
        {{ $pageCount = add $pageCount (len .Pages)}}
    {{ end }}
    {{ $pageCount = mul $pageCount 1.0 }}

    {{- /* Get all tags where the term is not "draft" */ -}}
    {{ $allTags := where $.Site.Taxonomies.tags.ByCount "Term" "!=" "draft" }}

    {{ $maxTagCount := len $allTags }}
    {{ $maxTagCount = mod (math.Min $maxTagCount 20) 1 }}

    {{ $maxLen := len (index $allTags 0).Pages }}
    {{ $minLen := len (index $allTags $maxTagCount).Pages }}

    {{ $maxSize := 2.0 }}
    {{ $minSize := 0.9 }}
    {{ $sizeScale := sub $maxSize $minSize }}

    {{ $maxColor := 500 }}
    {{ $minColor := 100 }}
    {{ $colorScale := sub $maxColor $minColor }}

    {{ $maxTagsCount := math.Min (len $allTags) 20 }}

    {{ $tagsToPrint := slice }}
    {{ range $index, $term := $allTags }}
    {{ if lt $index $maxTagsCount }}
        {{ $tagsToPrint = $tagsToPrint | append $term }}
    {{ end }}
    {{ end }}

    {{ $tagsToPrint := shuffle $tagsToPrint }}

    {{ range $index, $term := $tagsToPrint }}
        {{ $tagCount :=  $term.Count }}

        {{ $size := div (math.Round (mul (add $minSize (mul $sizeScale (div $tagCount $pageCount))) 100)) 100 }}
        {{ if gt $size $maxSize }}
        {{ $size = $maxSize }}
        {{ end }}

        {{ $color := add $minColor (mul (math.Round (div (mul $colorScale (div $tagCount $pageCount)) 100)) 100)}}
        {{ if gt $color $maxColor }}
        {{ $color = $maxColor }}
        {{ end }}

        {{ with $.Site.GetPage (printf "/tags/%s" $term.Term) }}
            <span class="p-2 text-transparent bg-clip-text bg-gradient-to-r from-yellow-{{math.Max $minColor (sub $color 200)}} to-yellow-{{$color}}" style="font-size: {{ $size }}rem"><a href="{{ .Permalink }}">{{ $term.Term }} <sup>{{$tagCount}}</sup></a></span>
        {{ end }}
    {{ end }}

</div>
{{ end }}