{{ define "main" }}
<main class="h-full container mx-auto flex flex-col">

    {{ partial "breadcrumb.html" . }}

    <div class="grid grid-cols-1 sm:grid-cols-2 gap-8 my-4">

        {{ $pageCount := 0 }}
        {{ $paginator := .Paginate (where .Pages ".Params.private" "!=" true ) }}

        {{- range $paginator.Pages -}}
            
            <!-- Tool card -->
            <div class="p-2">

                <!-- Tool card thumbnail -->
                {{ if .Params.thumbnail }}
                    {{ $url := .Params.thumbnail }}
                    {{ if eq "." (substr $url 0 1) }}
                        {{ $url = add .Permalink (substr $url 1) }}
                    {{ end }}

                    <div class="flex justify-center items-center">
                        <a class="w-4/5" href="{{.Permalink}}">
                            <img class="mx-auto w-3/5 md:w-4/5" src="{{$url}}" class="card-img-top" alt="{{.Title}}">
                        </a>
                    </div>
                {{ else }}
                    <div class="my-4 flex justify-center items-center">
                        <a class="p-8 text-center text-6xl rounded-2xl border-2 border-gray-600" href="{{.Permalink}}">
                            <i class="fas fa-tools"></i>
                        </a>
                    </div>
                {{ end }}

                <!-- Tool card body -->
                <div class="card-body text-center">
                    <!-- Tool title -->
                    <a href="{{.Permalink}}"><p class="text-lg font-semibold">{{.Title}}</p></a>
                    <p class="card-text mt-2 text-sm text-gray-100">{{ .Description }}</p>
                </div>
            </div>

            {{ $pageCount = add $pageCount 1 }}

        {{- end -}}

    </div>


    {{ partial "pagination.html" . }}

</main>
{{ end }}
