{{ define "main" }}
<main class="container mx-auto flex flex-col w-full min-h-80vh md:min-h-full">

    <h1 class="articleTitle text-3xl mb-4">{{ .Title }}</h1>

    {{ partial "breadcrumb.html" . }}

    <div class="articleMeta flex items-center mt-2">
        {{ if .Date }}<time class="block text-gray-300">{{ .Date.Format "02 Jan 2006" }}</time>{{ end }}{{ if .Params.dateUpdate }}<span class="text-gray-300 ml-4">(Updated: <time>{{time.Format "02 Jan 2006" .Params.dateUpdate}}</time>)</span>{{ end }}
        {{ if .Params.private }}<span class="py-2 px-4 bg-gray-500">Private</span>{{ end }}
    </div>

    {{ if or .Params.tags (.Param "status") }}
    <div class="tags flex items-center my-2">
        {{ with .Param "status" }}
        <a class="py-1 px-2 rounded-full bg-blue-500 bg-opacity-80 mr-2 text-sm text-gray-50" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ humanize .}}</a>
        {{ end }}
        {{ with .Params.tags }}
            {{ range . }}
            <a class="py-1 px-2 rounded-full bg-blue-500 bg-opacity-80 mr-2 text-sm text-gray-50" href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ humanize .}}</a>
            {{ end }}
        {{ end }}
    </div>
    {{ end }}


    {{- if .Description -}}
    <blockquote class="italic text-gray-300 mt-4 ml-2">
        <span class="text-xl mr-4"><i class="fas fa-terminal"></i> </span>{{ .Description }}
    </blockquote>
    {{- end -}}

    <div class="w-full mx-auto my-4 border-t-2 border-gray-700"></div>

    {{ if in .Params.tags "draft" }}
    <div class="flex justify-center items-center mb-8">
        <p class="text-sm p-2 rounded-lg bg-gray-600">This page is a draft. Contents may be updated in the future.</p>
    </div>
    {{ end }}
    
    <article class="articleContent flex-grow">
        {{ if and .Params.thumbnail (not .Params.hideSingleThumbnail) }}
            <div class="flex justify-center">
                <img class="w-4/5 sm:w-3/5 md:w-1/2 lg:w-1/2 {{if .Params.thumbnailInvert}}filter invert{{end}}" src="{{.Params.thumbnail}}"/>
            </div>
        {{ end }}
        {{ if .Content }}
            {{ .Content }}
        {{ else }}
        <h2 class="text-center"><i class="fas fa-crow"></i></h2>
        {{ end }}

        <!-- Resources -->
        {{ $hasResources := false }}
        {{ if .IsPage }}
        {{ range (readDir (path.Join "content" .Dir))}}
            {{ if eq .Name "resources" }}
            {{ $hasResources = true }}
            {{ end }}
        {{ end }}
        {{ end }}
        
        {{ if $hasResources }}
        <h1 class="text-yellow-200 mt-8">Resources</h1>
        {{ range (readDir (path.Join "content" .Dir "resources")) }}
            <ul class="mt-4">
                <li class="text-lg list-none"><a class="hover:text-blue-300" href="./resources/{{ .Name }}" target="_blank" download="{{ .Name }}"><i class="fas fa-download mr-2"></i> {{ .Name }}</a></li>
            </ul>
        {{ end }}
        {{ end }}
        
        <!-- Artifacts -->
        {{ $hasArtifact := false }}
        {{ if .IsPage }}
        {{ range (readDir (path.Join "content" .Dir))}}
            {{ if eq .Name "artifacts" }}
            {{ $hasArtifact = true }}
            {{ end }}
        {{ end }}
        {{ end }}
        
        {{ if $hasArtifact }}
        <h1 class="text-yellow-200 mt-8">Artifacts</h1>
        {{ range (readDir (path.Join "content" .Dir "artifacts")) }}
            <ul class="mt-4">
                <li class="text-lg list-none"><a class="hover:text-blue-300" href="./artifacts/{{ .Name }}" target="_blank" download="{{ .Name }}"><i class="fas fa-download mr-2"></i> {{ .Name }}</a></li>
            </ul>
        {{ end }}
        {{ end }}
    </article>
    
</main>
{{ end }}
